/.settings
/docs
/log
/out
/target
/.classpath
/multibit-prod.wallet
/multibit-testnet.blockchain
/multibit-testnet.wallet
/multibit.blockchain
/multibit.info
/multibit.properties
/multibit.wallet
/bin
/multibit-testnet.info
/swatch.png
.project
.idea/.name
*.repositories
maven-metadata-local.xml
